# =========================
# Ambiente virtual
# =========================
venv/
env/
.venv/

# =========================
# Cache Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Modelos treinados (ML)
# =========================
model/
model/*.pkl
model/*.joblib

# =========================
# Dataset (Kaggle / CSV)
# =========================
data/
*.csv

# =========================
# Variáveis de ambiente
# =========================
.env
.flaskenv

# =========================
# Flask
# =========================
instance/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db